<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
		  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <mongo:mongo host="${mongodb.host}" port="${mongodb.port}">
        <mongo:options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="1000"
                       max-wait-time="1500"
                       auto-connect-retry="true"
                       socket-keep-alive="true"
                       socket-timeout="1500"
                       slave-ok="true"
                       write-number="1"
                       write-timeout="0"
                       write-fsync="true"/>
    </mongo:mongo>
    <!--suppress SpringModelInspection -->
    <mongo:db-factory dbname="${mongodb.database}" mongo-ref="mongo" username="${mongodb.user}"
                      password="${mongodb.password}"/>

    <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/>
    <bean id="mappingMongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <!--suppress SpringModelInspection -->
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mappingContext" ref="mappingContext"/>
        <property name="typeMapper" ref="defaultMongoTypeMapper"/>
    </bean>

    <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <constructor-arg name="typeKey">
            <null/>
            <!-- 这里设置为空,可以把 spring data mongodb 多余保存的_class字段去掉 -->
        </constructor-arg>
    </bean>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <!--suppress SpringModelInspection -->
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="mappingMongoConverter"/>
    </bean>
    <bean id="gridFsTemplate"
          class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
        <!--suppress SpringModelInspection -->
        <constructor-arg name="dbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="converter" ref="mappingMongoConverter"/>
    </bean>
    <mongo:repositories base-package="org.kbs.archiver.repositories"/>

    <bean id="attachmentDAO" class="org.kbs.archiver.repositories.AttachmentDAOMongoImpl"/>
</beans>
