<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
		  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:archiver.properties</value>
                <value>classpath:archiver.conf</value>
                <value>classpath:archiver.local.conf</value>
                <value>file:/etc/archiver.conf</value>
            </list>
        </property>
    </bean>
    <!--创建jdbc数据源
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/kbsDB"></property>
        <property name="lookupOnStartup" value="true"></property>
        <property name="cache" value="true"></property>
        <property name="proxyInterface" value="javax.sql.DataSource"></property>
    </bean>-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${dbdriver}"/>
        <property name="url">
            <value><![CDATA[${dburl}]]></value>
        </property>
        <property name="username" value="${dbuser}"/>
        <property name="password" value="${dbpass}"/>
        <property name="maxActive">
            <value>40</value>
        </property>
        <property name="initialSize">
            <value>4</value>
        </property>
        <property name="maxWait">
            <value>60000</value>
        </property>
        <property name="maxIdle">
            <value>20</value>
        </property>
        <property name="minIdle">
            <value>3</value>
        </property>
        <property name="removeAbandoned">
            <value>true</value>
        </property>
        <property name="removeAbandonedTimeout">
            <value>180</value>
        </property>
        <property name="connectionProperties">
            <value>clientEncoding=UTF-8</value>
        </property>
        <property name="timeBetweenEvictionRunsMillis">
            <value>3600000</value>
            <!--1 hours-->
        </property>
        <property name="testWhileIdle">
            <value>true</value>
        </property>
        <property name="validationQuery">
            <value>select 1 from dual</value>
        </property>
    </bean>
    <!-- scope: singleton prototype,request,session,globalsession -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          scope="singleton">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml"/>
        <!-- <property name="mapperLocations" value="classpath*:sample/config/mappers/**/*.xml"
       /> -->
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>
    <bean id="boardMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.BoardMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
    <bean id="deletedMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.DeletedMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
    <bean id="articleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.ArticleMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
    <bean id="articleBodyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.ArticleBodyMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
    <bean id="threadMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.ThreadMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
    <bean id="sequenceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.SequenceMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
    <bean id="attachmentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.AttachmentMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
    <bean id="frontpageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.kbs.archiver.persistence.FrontPageMapper"/>
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>

    <mongo:mongo host="${mongodb.host}" port="${mongodb.port}">
        <mongo:options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="1000"
                       max-wait-time="1500"
                       auto-connect-retry="true"
                       socket-keep-alive="true"
                       socket-timeout="1500"
                       slave-ok="true"
                       write-number="1"
                       write-timeout="0"
                       write-fsync="true"/>
    </mongo:mongo>
    <!--suppress SpringModelInspection -->
    <mongo:db-factory dbname="${mongodb.database}" mongo-ref="mongo" username="${mongodb.user}"
                      password="${mongodb.password}"/>

    <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/>
    <bean id="mappingMongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <!--suppress SpringModelInspection -->
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mappingContext" ref="mappingContext"/>
        <property name="typeMapper" ref="defaultMongoTypeMapper"/>
    </bean>

    <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <constructor-arg name="typeKey">
            <null/>
            <!-- 这里设置为空,可以把 spring data mongodb 多余保存的_class字段去掉 -->
        </constructor-arg>
    </bean>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <!--suppress SpringModelInspection -->
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="mappingMongoConverter"/>
    </bean>
    <mongo:repositories base-package="org.kbs.archiver.repositories"/>

    <bean id="migrateService" class="org.kbs.archiver.MigrateService"/>
</beans>