<configuration scan="true" scanPeriod="5 minutes">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.kbs" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="${loglevel}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>