<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <bean id="configproperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:archiver.properties"/>
    </bean>
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="configproperties"/>
    </bean>

    <bean id="boardDBDAO" class="org.kbs.archiver.dao.BoardDAOMongoImpl">

    </bean>
    <bean id="mongo" class="com.mongodb.Mongo">
        <constructor-arg value="${db.host}"/>
        <constructor-arg value="${db.port}"/>
    </bean>
    <bean id="db"  class="org.kbs.utils.MongoDBFactoryBean">
        <property name="mongo" ref="mongo"/>
        <property name="name" value="${app.db.name}"/>
    </bean>
        19.
        </beans>
    <!--
        declare timer bean
    -->
    <bean id="boardCacheExpireJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="boardDAO"/>
        <property name="targetMethod" value="expireAll"/>
    </bean>

</beans>