<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository/>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>
    <pluginGroups/>
    <mirrors/>
    <profiles>
        <profile>
            <id>testdb</id>
            <properties>
                <archiver.dburl>jdbc:mysql://127.0.0.1:3306/archiver?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8</archiver.dburl>
                <archiver.dbuser>test</archiver.dbuser>
                <archiver.dbpass>test</archiver.dbpass>
                <archiver.dbdriver>com.mysql.jdbc.Driver</archiver.dbdriver>
                <archiver.workdir>./target/work</archiver.workdir>
                <loglevel>INFO</loglevel>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>testdb</activeProfile>
    </activeProfiles>
    <servers>
    </servers>
</settings>